<meta charset="utf-8">
<title>UNI-RN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="" name="description" />
<meta content="themes-lab" name="author" />
<link rel="shortcut icon" href="assets/img/favicon.png">
<!-- END META SECTION -->
<!-- BEGIN MANDATORY STYLE -->
<link href="assets/css/icons/icons.min.css" rel="stylesheet">    
<link href="assets/css/bootstrap.min.css" rel="stylesheet">    
<link href="assets/css/plugins.css" rel="stylesheet">

<link href="assets/css/style.min.css" rel="stylesheet">
<link href="#" rel="stylesheet" id="theme-color">
<!-- END  MANDATORY STYLE -->
<!-- BEGIN PAGE LEVEL STYLE -->
<link href="assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="assets/plugins/metrojs/metrojs.css" rel="stylesheet">
<!-- END PAGE LEVEL STYLE -->
<script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>