
<nav id="sidebar">
        <div id="main-menu">
            <ul class="sidebar-nav">
                <li id="menu_dashboard">
                    <a href="index.html"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a>
                </li>
                <li id="menu_usuarios">
                    <a href="/usuarios"><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">Usuários</span></a>                          
                </li>
                <li id="menu_professores">
                    <a href="/professores"><i class="fa fa-apple"></i><span class="sidebar-text">Professores</span></a>                          
                </li>   
                <li id="menu_espacos">
                    <a href="/espacos"><i class="fa fa-home"></i><span class="sidebar-text">Espaços</span></a>                          
                </li> 
                <li id="menu_disciplinas">
                    <a href="/disciplinas"><i class="fa fa-book"></i><span class="sidebar-text">Disciplinas</span></a>                          
                </li>
                <li id="menu_turmas">
                    <a href="/turmas"><i class="fa fa-users"></i><span class="sidebar-text">Turmas</span></a>                          
                </li>               
                <li id="menu_aulas">
                    <a href="/aulas"><i class="fa fa-clock-o"></i><span class="sidebar-text">Aulas</span></a>
                </li>
            </ul>
        </div>
        <div class="footer-widget">                
            <div class="sidebar-footer clearfix">
                <a class="pull-left" href="profil_edit.html" data-rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                <a class="pull-left" href="lockscreen.html" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
                <a class="pull-left" href="login.html" data-rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
            </div> 
        </div>
    </nav>
<script>
    var url = window.location.href;
    url = url.split('/');
    url = url[3];
    if(url=='espacos'||url=='add_espaco'){
        document.getElementById('menu_espacos').className = 'current';       
    }else if(url=='professores'||url=='add_professor'){
        document.getElementById('menu_professores').className = 'current';       
    }else if(url=='usuarios'||url=='add_usuario'){
        document.getElementById('menu_usuarios').className = 'current';       
    }else if(url=='disciplinas'||url=='add_disciplina'){
        document.getElementById('menu_disciplinas').className = 'current';       
    }else if(url=='turmas'||url=='add_turma'){
        document.getElementById('menu_turmas').className = 'current';       
    }else if(url=='aulas'||url=='add_aula'){
        document.getElementById('menu_aulas').className = 'current';       
    }else{
        document.getElementById('menu_dashboard').className = 'current';       
    }   
</script>