<!DOCTYPE html>
<html class="no-js sidebar-large"><!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>UNI-RN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../../assets/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="../../assets/css/icons/icons.min.css" rel="stylesheet">    
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">    
    <link href="../../assets/css/plugins.css" rel="stylesheet">
    
    <link href="../../assets/css/style.min.css" rel="stylesheet">
    <link href="#" rel="stylesheet" id="theme-color">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="../../assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="../../assets/plugins/metrojs/metrojs.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="../../assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body data-page="dashboard">
    <!-- BEGIN TOP MENU -->
    <%- include('../includes/topoMenu'); %>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <%- include('../includes/menuLateral'); %>
        <!-- END MAIN SIDEBAR -->

        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">
                <div class="page-title"> <i class="icon-custom-left"></i>
                    <h3><strong>Editar</strong> Disciplina <small><%=result.nome%></small></h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <form id="form1" class="form-horizontal" action="/disciplinas/<%=result._id%>" method="POST" data-parsley-validate>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Nome <span class="asterisk">*</span>
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="nome" value="<%=result.nome%>" data-parsley-minlength="3" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Carga Horária <span class="asterisk">*</span>
                                                </label>
                                                <div class="col-sm-9">
                                                    <input name="ch" value="<%=result.ch%>" type="number"  class="form-control" required>
                                                </div>
                                            </div>                                                 
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <div class="pull-right">
                                                        <button type="submit" class="btn btn-primary m-b-10">Salvar</button>
                                                        <button type="reset" class="btn btn-default m-b-10">Cancel</button>
                                                    </div>
                                                </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="../../assets/plugins/jquery-1.11.1.min.js"></script>
    <script src="../../assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="../../assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="../../assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="../../assets/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="../../assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="../../assets/plugins/nprogress/nprogress.js"></script>
    <script src="../../assets/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="../../assets/plugins/breakpoints/breakpoints.js"></script>
    <script src="../../assets/plugins/numerator/jquery-numerator.js"></script>
    <script src="../../assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../../assets/plugins/metrojs/metrojs.min.js"></script>
    <script src='assets/plugins/fullcalendar/moment.min.js'></script>
    <script src='assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script src="../../assets/plugins/google-maps/markerclusterer.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="../../assets/plugins/google-maps/gmaps.js"></script>
    <script src="../../assets/plugins/charts-flot/jquery.flot.js"></script>
    <script src="../../assets/plugins/charts-flot/jquery.flot.animator.min.js"></script>
    <script src="../../assets/plugins/charts-flot/jquery.flot.resize.js"></script>
    <script src="../../assets/plugins/charts-flot/jquery.flot.time.min.js"></script>
    <script src="../../assets/plugins/charts-morris/raphael.min.js"></script>
    <script src="../../assets/plugins/charts-morris/morris.min.js"></script>
    <script src="../../assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="../../assets/js/calendar.js"></script>
    <script src="../../assets/js/dashboard.js"></script>
    <!-- END  PAGE LEVEL SCRIPTS -->
    <script src="../../assets/js/application.js"></script>
</body>

</html>