<!DOCTYPE html>
<html class="no-js sidebar-large">
<head>
        <%-  include('../includes/head'); %>
</head>
<body data-page="products">
    <!-- BEGIN TOP MENU -->
    <%- include('../includes/topoMenu'); %>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <%-(session.tipo==1)?
                include('../includes/menuLateral'):
            (session.tipo==3)?
                include('../includes/menuLateral_coordenador'):''; %>
        <!-- END MAIN SIDEBAR -->
        
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">        
                <div class="page-title"> <i class="icon-custom-left"></i>
                    
                    <div class="col-md-12">
                        <div class="col-md-8">
                                <h3>Gerenciar <strong>Aulas</strong></h3>
                        </div>
                        <div class="col-md-4">
                                <button onclick="location.href='/add_aula'" style="float: right;" type="button" class="btn btn-primary btn-rounded">Cadastrar Novo</button>
                        </div>                            
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 table">
                                            <table id="products-table" class="table table-tools table-hover">
                                            <thead class="no-bd">
                                                <tr>
                                                    <th><strong>#</strong>
                                                    </th>
                                                    <th><strong>Turma</strong>
                                                    </th>
                                                    <th><strong>Professor</strong>
                                                    </th>
                                                    <th><strong>Disciplina</strong>
                                                    </th>
                                                    <th><strong>Dia</strong>
                                                    </th>
                                                    <th><strong>Horário</strong>
                                                    </th>
                                                    <th><strong>Ações</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="no-bd-y">
                                                    <% 
                                                    var x=1;
                                                    var modulo='aulas';
                                                    
                                                     lista.forEach(function(ls){
                                                         %>
                                                    <tr>
                                                        <td><%=x++%></td>
                                                        <td><%=ls.turma.nome%></td>
                                                        <td><%=ls.professor.nome%></td>
                                                        <td><%=ls.disciplina.nome%></td>
                                                        <td><%=diasSemana[(ls.diaSemana-1)][1]%></td>
                                                        <td><%=ls.horarioInicio+' às '+ls.horarioFim%></td>
                                                        <td > 
                                                            <a href="/<%=modulo+'/'+ls._id%>" class="edit btn btn-sm btn-default"><i class="fa fa-pencil"></i>EDITAR</a>
                                                            <a  data-href="/<%=modulo+'/delete/'+ls._id%>" data-toggle="modal" data-target="#confirm-delete" class="btn btn-sm btn-default"   title=EXCLUIR><i class="fa fa-times-circle"></i>EXCLUIR</a>
                                                        </td>                                       
                                                    </tr>
                                                <%});%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END MAIN CONTENT -->
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
    
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar Exclusão</h4>
                        </div>
    
                        <div class="modal-body">
                            <p>Você está prestes a excluir um Item, este procedimento é irreversível.</p>
                            <p>Deseja realmente prosseguir?</p>
                            <p class="debug-url"></p>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-info btn-ok">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="assets/plugins/nprogress/nprogress.js"></script>
    <script src="assets/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="assets/plugins/breakpoints/breakpoints.js"></script>
    <script src="assets/plugins/numerator/jquery-numerator.js"></script>
    <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="assets/plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="assets/plugins/datatables/dynamic/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="assets/plugins/datatables/dataTables.tableTools.js"></script>
    <script src="assets/js/ecommerce.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="assets/js/application.js"></script>

    <script type="text/javascript">    
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
</body>

</html>