<!DOCTYPE html>
<html class="no-js sidebar-large">
<head>
        <%- include('includes/head'); %>
</head>
<body data-page="dashboard">
    <!-- BEGIN TOP MENU -->
    <%- include('includes/topoMenu'); %>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <%- include('includes/menuLateral'); %>
        <!-- END MAIN SIDEBAR -->

        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="dashboard">
            <div class="row m-t-20">
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-blue p-15">
                            <div class="row m-b-10">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-visitors"></i>
                                </div>
                                <div class="col-xs-9">
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="56">
                                        <div>
                                            <small class="stat-title">Visits today</small>
                                            <h1 class="m-0 w-300">25 610</h1>
                                        </div>
                                        <div>
                                            <small class="stat-title">Visits yesterday</small>
                                            <h1 class="m-0 w-300">22 420</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">New Visitors</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-300">37.5%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-300">34.2%</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Bounce Rate</small>
                                    <div class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="3500" data-height="30">
                                        <div>
                                            <h3 class="m-0 w-500">5.6%</h3>
                                        </div>
                                        <div>
                                            <h3 class="m-0 w-500">7.4%</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-red p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-educational"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">PAGES VIEW</small>
                                    <h1 class="m-0 w-500">201k</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Duration</small>
                                    <h3 class="m-0 w-500">18:25</h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Pages / visits</small>
                                    <h3 class="m-0 w-500">21</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-green p-15">
                            <div class="row m-b-0">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-orders"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">ORDERS THIS MONTH</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="47">
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">148</h1>
                                        </div>
                                        <div>
                                            <h1 class="m-0 w-500 bg-green">+28%</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">126</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$12,545</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <div class="live-tile" data-delay="4000" data-animation-easing="fade" data-height="30">
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">41</h3>
                                        </div>
                                        <div class="bg-green">
                                            <h3 class="m-0 w-500">$4,237</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-dark p-15">
                            <div class="row m-b-6">
                                <div class="col-xs-3">
                                    <i class="glyph-icon flaticon-incomes"></i>
                                </div>
                                <div class="col-xs-9">
                                    <small class="stat-title">INCOMES THIS MONTH</small>
                                    <h1 class="m-0 w-500">$<span class="animate-number" data-value="42567" data-animation-duration="1400">0</span></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <small class="stat-title">Last month</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="38547" data-animation-duration="1400">0</span></h3>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stat-title">Last week</small>
                                    <h3 class="m-0 w-500">$<span class="animate-number" data-value="8754" data-animation-duration="1400">0</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 m-b-20">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix pos-rel">
                            <div class="pos-abs top-12 l-15 f-18 c-gray"><i class="fa fa-comments-o"></i>
                            </div>
                            <h2 class="panel-title width-100p c-red text-center w-500 f-20 carrois">Email</h2>
                            <div class="pos-abs t-10 r-5 f-18 c-red cursor-pointer">
                                <div class="glyph-icon flaticon-plus16 f-32"></div>
                            </div>
                        </div>
                        <div class="panel-body messages">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="withScroll" data-height="480">
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar13_big.png" alt="avatar 13" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <h4 class="c-dark">Reset your account password</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar12_big.png" alt="avatar 12" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <h4 class="c-dark">Check Dropbox</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar11_big.png" alt="avatar 11" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <h4 class="c-dark">Reset your account password</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar10_big.png" alt="avatar 10" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <h4 class="c-dark">Check Dropbox</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar9_big.png" alt="avatar 9" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <h4 class="c-dark">Reset your account password</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar8_big.png" alt="avatar 8" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                    <h4 class="c-dark">Check Dropbox</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                        </a>
                                        <a href="#" class="message-item media">
                                            <div class="media">
                                                <img src="assets/img/avatars/avatar7_big.png" alt="avatar 7" width="50" class="pull-left">
                                                <div class="media-body">
                                                    <small class="pull-right">23 Sept</small>
                                                    <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                    <h4 class="c-dark">Reset your account password</h4>
                                                </div>
                                            </div>
                                            <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 m-b-20">
                    <div class="modal fade" id="event-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><strong>Manage</strong> my events</h4>
                                </div>
                                <div class="modal-body">
                                    <p></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success save-event">Create event</button>
                                    <button type="button" class="btn btn-danger delete-event" data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="external-events" class="bg-white row m-0">
                        <div class="col-md-4 p-0">
                            <div class="widget bg-gray-l">
                                <div class="widget-body p-b-0">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h2 class="panel-title width-100p c-blue w-500 f-20 carrois" id="calender-current-day">Events Manager</h2>
                                            <div>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="external-event bg-green" data-class="bg-green" style="position: relative;">
                                                    <i class="fa fa-move"></i>Sport
                                                </div>
                                                <div class="external-event bg-purple" data-class="bg-purple" style="position: relative;">
                                                    <i class="fa fa-move"></i>Meeting
                                                </div>
                                                <div class="external-event bg-red" data-class="bg-red" style="position: relative;">
                                                    <i class="fa fa-move"></i>Work
                                                </div>
                                                <div class="external-event bg-blue" data-class="bg-blue" style="position: relative;">
                                                    <i class="fa fa-move"></i>Children
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1 p-0 no-bd">
                            <div class="widget bg-white">
                                <div class="widget-body p-b-0">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="assets/plugins/nprogress/nprogress.js"></script>
    <script src="assets/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="assets/plugins/breakpoints/breakpoints.js"></script>
    <script src="assets/plugins/numerator/jquery-numerator.js"></script>
    <script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/metrojs/metrojs.min.js"></script>
    <script src='assets/plugins/fullcalendar/moment.min.js'></script>
    <script src='assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script src="assets/plugins/charts-morris/raphael.min.js"></script>
    <script src="assets/plugins/charts-morris/morris.min.js"></script>
    <script src="assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="assets/js/calendar.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <!-- END  PAGE LEVEL SCRIPTS -->
    <script src="assets/plugins/jnotify/jNotify.jquery.min.js"></script>
    <script src="assets/js/notifications.js"></script>
    <!-- END  PAGE LEVEL SCRIPTS -->
    <script src="assets/js/application.js"></script>
    <script>
    </script>
</body>

</html>